<%= form_for @video do |f| %>
  <div class="input-field col s6">
  	<%= f.label :title, 'Video Title : '%>
  	<%= f.text_field :title%>
  </div>
  <div class="input-field col s6">
  	<%= f.label :des, 'Description:' %>
  	<%= f.text_field :des %>
  </div>
  <div class="input-field col s6">
  	<%= f.label :url, 'Poster URL:' %>
  	<%= f.text_field :url %>
  </div>
    <div class="input-field col s6">
  	<%= f.label :video_url, 'Video URL :  ' %>
  	<%= f.text_field :video_url %>
  </div>
 
  <%= f.submit "Submit", :class => "btn waves-effect waves-light" %>
<% end %>