<h1>All the Videos </h1>

<table class="striped bordered">
  <tr>
    <th>Title</th>
    <th>Video</th>
    <th>Description</th>
  </tr>

  <% @videos.each do |video| %>
      <tr>
        <td><%= link_to video.title, video_path(video)  %></td>
        <td><<%= image_tag(video.url, size: "100x100", alt: "Video Image")%>></td>
        <td><%= video.des %></td>
        <td><a class="btn-floating btn-large red" href="<%= edit_video_path(video) %>" >
        <em class="large material-icons">Edit Video</em>
        <td><a class="btn-floating btn-large red"  data-method="delete" href="/videos/<%= video.id %>" rel="nofollow"><i class="large material-icons">Delete Video</i>

      </tr>
  <% end %>
  <%= link_to "Add an Video", new_video_path, { :class => "button waves-effect waves-light btn" } %>
<br><br>
</table>
